<div class="nav"><button ng-show="user.roleCode=='ADMIN'" ng-click="showCreateForm = !showCreateForm">Create Queue?</button></div>
<div ng-show="showCreateForm && user.roleCode=='ADMIN'" >
<form ng-submit="showCreateForm = !showCreateForm; submitCreateQueueForm();">
    <label>Queue Name:</label>
    <input name="queueName" ng-model="newQueue.queueName" placeholder="Enter a queue name..."/>
    <label>Ticket TTL ( Time to live in seconds):</label>
    <input type="number" min="0" max="600" name="ticketExpiryDuration" ng-model="newQueue.ticketExpiryDuration" placeholder="... seconds"/>
    <label>Open Time:</label>
    <input type="time" name="openTime" ng-model="newQueue.openTime"/>
    <label>Close Time:</label>
    <input type="time" name="closeTime" ng-model="newQueue.closeTime"/>
    
    <input type="submit" id="submit" value="Submit" />
</form>
</div>
<div ng-hide="showCreateForm">
<h1>Queues</h1>
<table>
<tr ng-repeat="queue in queues">
    <td>
    <label>
        <form name="queueForm">
        <input type="hidden" name="queue" ng-model="queue"/>
        <div ng-hide="user==null"><a ng-click="toggleUserInQueue(queueForm)">{{queue.queueName}}</a></div>
        <div ng-show="user==null">{{queue.queueName}}</div>
        <img ng-show="user.roleCode=='ADMIN'" alt="" src="media/deletebutton.png" width="9" height="9" ng-click="submitDeleteQueueForm(queueForm);"/>
        </form>
    </label></td>
    <td ng-repeat="ticket in queue.tickets">
        {{ticket.userId}}
    </td>
</tr>
</table>
</div>